{% extends 'base.html' %}
{% block title %}Профиль-Ноябрь{% endblock %}
{% block content %}
    <div class="content">
        <div class="profile">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-lg-1"></div>
                    <div class="page-title col-md-10 col-sm-10 col-lg-10">
                        <h1>ЛИЧНЫЙ КАБИНЕТ</h1>
                        <div class="separator"></div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-lg-1"></div>
                    <div class="account-menu col-md-10 col-sm-10 col-lg-10">
                        <ul class="account-menu-lst">
                            <li><a class="link-profile" href="{{ url_for('account_bp.account_profile') }}">Профиль</a></li>
                            <li><a class="link-address" href="{{ url_for('account_bp.change_address') }}">Адреса</a></li>
                            <li><a class="link-order-history" href="{{ url_for('account_bp.orders_list') }}">История заказов</a></li>
                            <li><a class="link-my-treatment" href="{{ url_for('account_bp.tickets_list') }}">Мои обращения</a></li>
                            <li><a class="link-favorites" href="{{ url_for('account_bp.favorites_list') }}">Избранное</a></li>
                        </ul>
                        <span></span>
                    </div>
                    <div class="col-md-1 col-sm-1 col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    {% block info %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/profile.js')}}"></script>
{% endblock content %}